**/.git
**/.idea
**/.vscode
**/.sfdx

**/sfdx-config
**/dist
**/node_modules

**/debug.log
**/.gitignore
**/.forceignore
**/.eslintignore
**/.eslintrc.json
**/.prettierignore
**/.prettierrc.json
**/sfdx-project.json

**/Procfile
**/LICENSE
**/README.md
.idea

**/.DS_Store
